.bg-countd
  .countd-inner
    display: flex
    display: -webkit-flex
    align-items: flex-end
    width: 744px
    margin: 0 auto
    padding: 20px 0
    img
      margin: 0 12px 0 0
    h2
      font-size: 24px
      color: #fff
      margin: 0 0 16px 0
      span.brand-countd
        font-size: 40px
        font-weight: bold
        margin: 0 10px
        text-transform: uppercase
      span.sale-countd
        font-size: 40px
        font-weight: bold
        margin: 0 10px
        text-transform: uppercase
    .time-countd
      width: 690px
      height: 24px
      border-radius: 18px
      background-color: #d8d8d8
      position: relative
      .level
        position: absolute
        width: 100%
        height: 24px
        background-image: linear-gradient(to top, #ff9a44, #ff2323)
        top: 0
        border-radius: 18px
      h3
        position: absolute
        font-size: 16px
        color: #fff
        line-height: 24px
        left: 16px
        top: 0