.lp-menu
  margin: 0 auto
  ul
    display: flex
    flex-flow: row wrap
    justify-content: center
    li
      list-style-type: none
      text-align: center
      cursor: pointer
      a
        outline: none
  &.menu-theme1 ul li
    float: left
    border-right: 1px solid white
    box-sizing: border-box
    &.item-menu-1
      width: 100%
    &.item-menu-2
      width: 50%
    &.item-menu-3
      width: 33.33%
    &.item-menu-4
      width: 25%
    &.item-menu-5
      width: 20%
    &.item-menu-6
      width: 16.6666%
    &.item-menu-7
      width: 14.2857%
    &.item-menu-8
      width: 12.5%
    &.item-menu-9
      width: 11.1111%
    &.item-menu-10
      width: 10%
    &:last-child
      border-right: none
      a
        border-right: none
    a
      display: block
      font-weight: 700
      padding: 10px 0
  &.menu-theme2 ul
    text-align: center
    li
      display: inline-block
      list-style-type: none
      text-align: center
      padding: 0
      &:last-child
        margin-right: 0 !important

.lp-menu-up
  position: fixed
@media (min-width: 768px)
  .title
    background-repeat: no-repeat !important
    background-position: center !important
    h2.head2
      text-align: center
      text-transform: uppercase
      margin: 20px auto