.nk-service
  width: 100%
  padding: 0 0 10px
  ul
    width: 100%
    li
      width: 20%
      float: left
      padding: 25px
      text-align: center
      &:hover
        cursor: pointer
      i
        margin: 0 auto 18px
        display: block
        height: 41px
      h3
        font-size: 14px
        font-weight: 500
        margin: 0 0 7px
        color: #000
      p
        font-size: 12px
        color: #4a4a4a
        line-height: 16px

.nk-brand
  h2
    color: #4a4a4a
    font-size: 14px
    font-weight: 500
    text-transform: uppercase
    padding: 29px 0 0 25px
    float: left
    &:after
      font-family: FontAwesome
      content: "\F105"
      color: #4a4a4a
      margin: 0 0 0 10px
  ul
    padding: 20px 0
    float: left
    li
      display: table-cell
      vertical-align: middle
      padding: 0 12px
  i
    display: block
  h2
    color: #4a4a4a !important
    font-size: 14px !important
    font-weight: 500 !important
    text-transform: uppercase !important
    align-self: center
    float: left !important
    width: 220px
    padding-left: 25px !important
    padding-top: 0 !important
  .brand-item
    a, span
      display: inline-block
  .nk-big-brand
    float: left
    width: 80%
    padding: 20px 0

@media (min-width: 1440px)
  .nk-brand ul li
    padding: 0 20px

@media (max-width: 1366px)
  .nk-brand ul
    width: 890px
    overflow: hidden

@media (max-width: 1179px)
  .nk-brand ul li:last-child
    display: none

.owl-nav
  display: block

.nk-brand .nk-big-brand
  .owl-nav
    .owl-prev
      height: 51px
      width: 32px
      border: 1px solid #f1f5f6
      border-radius: 4px
      background-color: #fff
      box-shadow: 0 7px 10px 0 rgba(72, 139, 216, 0.2)
      position: absolute
      top: 12px
      left: 0
      line-height: 65px
      text-align: center
      &.disabled
        opacity: 0.2
      i
        color: #878fa0
        font-size: 20px
        margin: 0 0 0 -5px
        position: absolute
        left: 50%
        top: 50%
        margin-left: -3.5px
        margin-top: -10px
    .owl-next
      height: 51px
      width: 32px
      border: 1px solid #f1f5f6
      border-radius: 4px
      background-color: #fff
      box-shadow: 0 7px 10px 0 rgba(72, 139, 216, 0.2)
      position: absolute
      top: 12px
      right: 0
      text-align: center
      line-height: 65px
      &.disabled
        opacity: 0.2
      i
        color: #878fa0
        font-size: 20px
        position: absolute
        left: 50%
        top: 50%
        margin-left: -3.5px
        margin-top: -10px
  .owl-stage
    display: inline-flex
    align-content: space-between
    .owl-item
      align-self: center
      overflow: hidden
      div.brand-item
        text-align: center
        span.js_hidden_link:hover
          cursor: pointer

@media (max-width: 1366px)
  .nk-brand .nk-big-brand
    width: calc(100% - 220px)
    width: -moz-calc(100% - 220px)
    width: -webkit-calc(100% - 220px)

.d
  .worldcup-section
    .is_shock_price .price-old, .shock_price_online .price-old
      color: #f86666 !important
      text-decoration: none !important
    .is_shock_price .price-new .price-text, .shock_price_online .price-new .price-text
      color: #1a7eff !important
  .wrap_content_top_premium_style .NkPdp_productInfo .productInfo_new .productInfo_col-23 .bg-Pro .product_info_price .product_info_price_value .product_info_price_value-online-final
    display: flex
    display: -webkit-flex
    display: -webkit-box
    align-items: center
    p.txt_shock_online_exp
      border: 1px dashed #368bff
      white-space: nowrap
      padding: 2px 5px
      background-color: #e2eefe
      border-radius: 1px
      height: 22px
      color: #000
      font-size: 12px
      margin: 7px 0 0 10px
  .product_info_price_promotion
    .promotion-top
      display: flex
      display: -webkit-flex
      display: -webkit-box
      align-items: center
      height: 22px
      margin: (-7px) 0 22px
    .promotion-bottom .promotion-Shock-online .cheap-online-price
      border: 1px dashed #368bff
      white-space: nowrap
      padding: 2px 5px
      background-color: #e2eefe
      border-radius: 1px
      font-size: 14px
      color: #000
      display: block
      margin-top: -2px
      strong
        font-weight: 500
  .NkPdp .NkPdp_productInfo .productInfo_col-23 .productInfo_col-2 .product_info_price.product_info_price_online_nk .product_info_price_value .product_info_price_value-online-real, .wrap_content_top_premium_style .NkPdp_productInfo .productInfo_col-23 .productInfo_col-2 .product_info_price.product_info_price_online_nk .product_info_price_value .product_info_price_value-online-real
    margin-top: 0 !important
    margin-bottom: 6px
  .nk-product-cate-style-list
    .discount.shock
      display: flex
      display: -webkit-flex
      align-items: center
      .shock-online-o
        width: 100px
        height: 22px
        margin: 0 0 0 10px
    .nk-product-price
      .price-old-nk span
        color: #f86666
      .options .shock-online-o img
        display: none
  &.nk-home-page .nk-product-collection .nk-product
    .position-bottom-center > img
      width: auto
    .owl-item .item .price-details
      width: 100%
      .price-new .cheap-online-price
        padding: 4px 5px 5px 20px
        margin-left: 0
        float: right
        margin-top: 2px
  .worldcup-section .nk-product-wc .item .price-details .price_confirm
    color: #28b650
    margin-bottom: 6px !important
    font-size: 18px
    font-weight: 700
    align-items: center
  .wrap_content_top_premium_style .NkPdp_productInfo .productInfo_new .productInfo_col-23 .bg-Pro .product_info_price
    display: -webkit-flex
    display: -webkit-box
    align-items: center
  .NkPdp .NkPdp_productInfo .productInfo_col-23 .productInfo_col-2 .product_info_price.product_info_price_online_nk .product_info_price_value .product_info_price_value_nk_price_confirm, .wrap_content_top_premium_style .NkPdp_productInfo .productInfo_col-23 .productInfo_col-2 .product_info_price.product_info_price_online_nk .product_info_price_value .product_info_price_value_nk_price_confirm
    margin-top: 0 !important
    margin-bottom: 6px
  &.nk-home-page .nk-product-collection .nk-product .owl-item .item .price-details .price_confirm
    color: #28b650
    margin-bottom: 10px !important
    font-size: 18px
    font-weight: 700
    align-items: center

#tygh_footer
  z-index: 1

.nk-footer
  padding: 20px 0
  display: inline-table
  width: 100%
  i
    display: block
  #nk-tong-dai-ho-tro
    width: 49%
    float: left
    margin: 0 1% 0 0
    border: 1px solid #ebebeb
    border-radius: 2px
    padding: 25px 0
    display: flex
    display: -webkit-flex
    align-items: center
    .icon, .text
      float: left
    .icon
      width: 20%
      padding: 25px
      border-right: 1px solid #ebebeb
      min-height: 120px
    .text
      padding: 0 25px
      width: 80%
      h3
        font-size: 14px
        font-weight: 500
        color: #000
        span
          color: #4a4a4a
          font-weight: 400
    p
      font-size: 14px
      color: #4a4a4a
      &.t1 span, &.t2 span
        font-size: 18px
        font-weight: 500
        padding: 0 5px
      &.t1 span.red, &.t2 span.red
        color: #f86666
      &.t1 span.green, &.t2 span.green
        color: #1fb349
      &.t1 span
        padding: 0
        font-size: 36px
      &.t2
        padding: 0 0 10px
        border-bottom: 1px solid #ebebeb
      &.t3
        span
          color: #000
          font-size: 14px
          padding: 0
        a
          color: #4a4a4a
          margin: 0 0 0 5px
  #nk-email-newsletter
    width: 49%
    float: left
    margin: 0 0 0 1%
    border: 1px solid #ebebeb
    border-radius: 2px
    padding: 25px 0
    display: table
    .icon, .text
      float: left
    .icon
      width: 20%
      padding: 25px
      border-right: 1px solid #ebebeb
      min-height: 120px
    .text
      padding: 0 25px
      width: 80%
      h3
        font-size: 14px
        color: #000
        line-height: 24px
        margin: 0 0 20px
        strong
          font-weight: 500
        span
          display: block
      input
        &[type=email]
          height: 37px
          width: 50%
          border: 1px solid #ebebeb
          border-radius: 2px
          padding: 0 10px
          font-family: Helvetica Neue,Helvetica,Arial,sans-serif
          font-size: 14px
          color: #4a4a4a
        &[type=button]
          height: 37px
          width: 80px
          border: 0
          border-radius: 2px
          background-color: #f86666
          font-size: 14px
          color: #fff
          margin: 0 0 0 10px
          cursor: pointer
  #nk-footer-l
    width: 80%
    float: left
    padding: 30px 0 0
    #nk-footer-menu ul li
      width: 25%
      float: left
      span
        font-size: 14px
        line-height: 24px
        font-weight: 700
        color: #4a4a4a
        margin: 0 0 12px
        display: block
      .nk-footer-submenu span
        font-weight: 400
        line-height: 14px
        font-size: 14px
        color: #4a4a4a
        display: block
        &:hover
          color: #0076ff
          cursor: pointer
    #nk-payment
      padding: 30px 0 0
      ul li
        display: table-cell
        vertical-align: middle
        padding: 0 5px 5px 0
        &:last-child
          padding: 0
  #nk-footer-r
    width: 20%
    float: left
    padding: 30px 0 0
    span
      color: #4a4a4a
      font-size: 14px
      font-weight: 700
    #nk-b2b
      margin-bottom: 20px
      .js_hidden_link:hover
        cursor: pointer
      span
        margin: 0 0 12px
        display: block
    #nk-social
      padding-top: 10px
      span
        margin: 0 0 12px
        display: block
      ul li
        display: table-cell
        vertical-align: middle
        padding: 0 5px 0 0
    #nk-download
      span
        margin: 0 0 10px
        display: block
      p
        display: table-cell
        vertical-align: middle
        &:nth-child(2)
          padding: 0 10px 0 0
        a:first-child
          padding: 0 0 5px
          display: block

@media (min-width: 1440px)
  .nk-footer #nk-tong-dai-ho-tro .icon
    width: 160px

@media (min-width: 1440px)
  .nk-footer #nk-tong-dai-ho-tro .text
    width: calc(100% - 160px)

@media (max-width: 1179px)
  .nk-footer #nk-tong-dai-ho-tro
    width: 100%
    margin: 0 0 1%

@media (min-width: 1440px)
  .nk-footer #nk-email-newsletter .icon
    width: 160px

@media (min-width: 1440px)
  .nk-footer #nk-email-newsletter .text
    width: calc(100% - 160px)

@media (max-width: 1179px)
  .nk-footer #nk-email-newsletter
    width: 100%
    margin: 0

.wrap-footer-payship
  margin-top: 20px
  ul.foot_payment_ship
    width: 100%
    h3
      font-size: 14px
      color: #4a4a4a
      font-weight: 700
      margin: 0 0 12px
    #nk-payment
      width: 40%
      float: left
      ul
        padding-right: 30px
    .foot_ship_robin
      width: 40%
      float: left
    .foot_app
      width: 20%
      float: left
      #nk-download p span:hover
        cursor: pointer

.foot_ship
  width: 100%
  .logo-img-ship ul
    display: flex
    flex-flow: row wrap
    padding-right: 60px
    li
      padding-right: 10px
      padding-bottom: 5px
      a
        display: block
      span.js_hidden_link:hover
        cursor: pointer

#nk-payment ul
  display: block
  li
    display: inline-block
    padding-right: 5px
    padding-bottom: 5px

#nk-download
  display: block
  p
    display: inline-block
    vertical-align: middle

.nk-footer-copyright
  background-color: #eaeced
  padding: 10px 0
  display: inline-table
  width: 100%
  i
    display: block
  #nk-footer-copyright-l, #nk-footer-copyright-r
    display: table-cell
    vertical-align: middle
  #nk-footer-copyright-l
    width: 80%
    span
      font-size: 10px
      display: block
      color: #9b9b9b
      line-height: 12px
  #nk-footer-copyright-r
    width: 20%
    ul li
      display: table-cell
      vertical-align: middle
      padding: 0 5px 0 0
      &:last-child
        padding: 0

.newsletter-email-popup
  width: 645px !important
  height: 185px
  margin: 0 auto
  left: 0 !important
  right: 0

.footer-sub-notification-message
  color: #008fcf
  font-size: 1.4em
  text-align: left

.footer-sub-notification-close
  position: absolute
  top: -15px
  right: -15px
  width: 31px
  height: 31px
  background: transparent url("https://test.nguyenkimonline.com/images/companies/_1/html/2017/T08/tragop/ico-close.png") no-repeat
  cursor: pointer
  z-index: 1103
  border: none
  text-indent: -9999px

.cm-notification-close
  display: none

.cm-notification-container .cm-notification-close
  display: block

.footer-sub-notification-content-extended
  box-sizing: border-box
  min-height: 0
  h1
    background: #ffdbdb none repeat scroll 0 0
    border-radius: initial
    color: #f21a25
    font-size: 1.6em
    font-weight: 600
    line-height: 25px
    padding: 10px 0 0
    text-align: center

.footer-sub-popup
  height: 290px

.footer-sub-notification-content-extended h1
  border-width: 7px 7px 0
  border-radius: 5px 5px 0 0

.footer-sub-popup .footer-sub-inter-popup
  p
    text-align: center
  .footer-sub-text-info
    color: #212121
    font-size: 17px
    text-align: left
    padding: 50px 0 0 195px
    line-height: 24px

.fb_reset
  .fb-customerchat iframe
    bottom: 155px !important
  .fb_dialog
    bottom: 97px !important
    right: 22px !important

.scrollup
  width: 36px
  height: 36px
  position: fixed
  bottom: 187px
  right: -40px
  background: rgba(0, 0, 0, 0.3)
  color: #fff
  border-radius: 100px
  box-shadow: 0 7px 10px 0 rgba(106, 65, 65, 0.21)
  text-align: center
  z-index: 999
  transition: all .5s ease
  -webkit-transition: all .5s ease
  cursor: pointer
  &.active
    right: 22px
  i
    transform: rotate(90deg)
    -webkit-transform: rotate(90deg)
    line-height: 35px
    margin: 0 4px 0 0
    display: inline-block
    &:before
      font-size: 16px