.nk-product-cate-style-grid
  background: #fff
  display: inline-block
  width: 100%
  .nk-product
    padding: 0
    margin: 0
    .items_row
      display: flex
      width: 100%
      box-sizing: border-box
      border-bottom: 1px solid #f3f3f3
      padding: 15px 10px
      &:last-of-type
        border-bottom: 0
    .item
      position: relative
      float: left
      width: 245px
      margin: 0 10px
      //min-height: 430px
      @media (max-width: 1366px)
        margin: 0
        width: 25%
      @media (max-width: 1280px)
        margin: 0
        padding: 0 10px 15px 10px
        width: 33.33%
      @media (min-width: 1100px)
        width: 20%
        margin: 0
      &:before
        content: ''
        width: 100%
        height: 100%
        position: absolute
        border-radius: 1px
        background-color: #FFFFFF
        -webkit-box-shadow: 1px 2px 7px 0 rgba(0,0,0,.21)
        -moz-box-shadow: 1px 2px 7px 0 rgba(0,0,0,.21)
        box-shadow: 1px 2px 7px 0 rgba(0,0,0,.21)
        opacity: 0
      &:hover
        &:before
          height: -moz-calc(100%  58px)
          height: -webkit-calc(100%  58px)
          height: calc(100%  58px)
          opacity: 1
          z-index: 100
        .nk-product-hover
          opacity: 1
          pointer-events: auto
        *
          z-index: 100
      .nk-product-img
        text-align: center
        margin: 0 10px 20px 10px
        -moz-box-sizing: border-box
        -webkit-box-sizing: border-box
        box-sizing: border-box
        position: relative
        padding: 10px 10px 0 10px
        min-height: 115px
        max-height: 225px
        img
          margin: 0 auto
          max-width: 100%
          max-height: 100%
          text-indent: -99999px
          color: transparent
        span
          line-height: normal
        .position-top-left
          position: absolute
          top: 0
          left: 0
        .position-top-right
          position: absolute
          top: 0
          right: 10px
        .position-top-center
          position: absolute
          top: 0
          left: 0
          right: 0
        .position-bottom-left
          position: absolute
          bottom: 0
          left: 0
        .position-bottom-right
          position: absolute
          bottom: 0
          right: 10px
        .position-bottom-center
          position: absolute
          bottom: 0
          right: 10px
          left: 0
      .nk-product-desc
        position: relative
        padding: 0 10px
        line-height: 2.250em
        .title
          position: relative
          font-size: 16px
          font-size: 1.333em
          font-family: 'Helvetica Neue Bold'
          font-weight: bold
          color: #000
          text-transform: uppercase
          height: 27px
          .nk_tragop_0
            position: absolute
            right: 0
            bottom: 0
          .tra-gop-0
            position: absolute
            bottom: -1px
            right: 0
        .label
          color: #4A4A4A
          font-size: 14px
          font-size: 1.167em
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
          height: 27px
          small
            color: #7A7D8D
            font-size: 12px
            font-size: 0.857em
        .desc
          color: #7A7D8D
          line-height: 1.5
          height: 61px
          overflow: hidden
          white-space: nowrap
          text-overflow: ellipsis
          padding: 5px 0
          p
            position: relative
            &::before
              content: "\2022"
              font-family: "FontAwesome"
              left: 0
              margin: 0 5px 0 0
              color: #ced1d6
        .price
          color: #666
          font-size: 1.2em
          min-height: 14px
          line-height: 14px
          margin: 0 0 10px 0
          &.price-online
            color: #F86666
          &.strike
            text-decoration: line-through
          &.discount
            color: #F86666
            font-size: 1.5em
            font-weight: bold
            display: flex
            display: -webkit-flex
            align-items: center
            line-height: 15px
            height: 20px
            .cheap-online-price
              font-weight: normal
              font-size: 13px
              background: url("https://cdn.nguyenkimmall.com/images/companies/_1/Sticker_GiaReOnline02%402x.png") no-repeat left top
              background-size: contain
              position: relative
              top: -2px
              padding: 2px 5px 5px 20px
              margin-left: 10px
            &.shock
              color: #1a7eff
              justify-content: space-between
            &.stiker-online>img
              width: 95px
              height: auto
          &.price_confirm
            color: #28b650
            margin-bottom: 10px
            margin: 10px 0 0 10px
            font-size: 1.5em
            font-weight: 700
            display: -webkit-flex
            align-items: center
            line-height: 15px
            height: 20px
        .promotion
          display: block
          width: 100%
          color: #1FB349
          text-overflow: ellipsis
          overflow: hidden
          white-space: nowrap
          line-height: 1.5em
          height: 18px
        .shock-online-o>img
          width: 85px
          height: auto
        .stiker-online>img
          width: 95px
          height: auto
        img.stiker-online
          width: 95px
          height: auto
          margin-left: 16px
        .price-o
          color: #f86666
    .nk-product-hover
      position: absolute
      top: 100%
      width: 100%
      z-index: 10
      padding: 10px
      opacity: 0
      height: 58px
      pointer-events: none
      span.no-shadow
        display: block
        width: 100%
        height: 10px
        background-color: #fff
        position: absolute
        bottom: 85px
        left: 0
      .wishlist
        float: left
        i,p
          display: table-cell
          vertical-align: middle
        i
          &::before
            padding: 0 10px 0 0
            color: #CED1D6
            font-size: 15px
            content: "\f08a"
            font-family: "FontAwesome"
        p
          color: #39393A
          font-size: 14px
        &:hover, &.active
          i
            &::before
              content: "\f004"
              color: #0A5BFF
          p
            color: #0A5BFF
      .color
        position: absolute
        right: 10px
        ul
          li
            float: left
            i
              height: 14px
              width: 14px
              display: block
              border-radius: 50%
              margin: 0 0 0 7px
              &.col-pro-gray
                background-color: #D8D8D8
              &.col-pro-blue
                background-color: #0076FF
              &.col-pro-black
                background-color: #000
      .nk-btn
        clear: both
        display: flex
        flex-direction: row
        a
          display: block
          width: 100%
          vertical-align: middle
          line-height: 38px
          font-size: 14px
          font-size: 1.167em
          text-align: center
        .nk-btn-compare
          border: 1px solid #F0F0F0
          border-radius: 1px
          background-color: #FFFFFF
          color: #39393A
          span.plus
            position: relative
            top: 12px
            left: 0
            margin: 0 5px 0
            &::before
              width: 7px
              height: 1px
              background-color: #39393A
              position: absolute
              content: ""
              top: -4px
              left: -6px
            &::after
              width: 1px
              height: 7px
              background-color: #39393A
              position: absolute
              content: ""
              top: -7px
              left: -3px
          &:hover
            color: #0A5BFF
            background-color: #EDEDED
            span
              &::before
                background-color: #0A5BFF
              &::after
                background-color: #0A5BFF
        .nk-btn-buy
          border-radius: 1px
          background-color: #E73435
          color: #FFFFFF
          &:hover
            opacity: 0.75
        .nk-btn-comming
          border-radius: 1px
          background-color: #FFF
          color: #E73435
          border: 1px dashed #E73435
        .nk-btn-price-confirm
          border-radius: 1px
          background-color: #1a7eff
          color: #fff
  span.nk-product-line
    display: block
    width: 100%
    height: 1px
    background-color: #F3F3F3
    margin: 0 0 25px 0
  &.nk-product-special
    .item
      .nk-product-img
        height: 225px
        line-height: 225px
        img
          vertical-align: middle
    .nk-pro-1
      top: 242px
      right: 10px
      position: absolute
    .nk-pro-2
      top: 293px
      right: 10px
      position: absolute
    .nk-pro-3
      top: 321px
      right: 10px
      position: absolute
  &.nk-product-tivi, &.nk-product-laptop, &.nk-product-mayanh
    .item
      .nk-product-img
        height: 175px
        line-height: 175px
        img
          vertical-align: bottom
    .nk-pro-1
      top: 192px
      right: 10px
      position: absolute
    .nk-pro-2
      top: 295px
      right: 10px
      position: absolute
    .nk-pro-3
      top: 322px
      right: 10px
      position: absolute
  &.nk-product-tulanh, &.nk-product-maygiat, &.nk-product-dienthoai
    .item
      .nk-product-img
        height: 225px
        line-height: 225px
        img
          vertical-align: bottom
    .nk-pro-1
      top: 242px
      right: 10px
      position: absolute
    .nk-pro-2
      top: 345px
      right: 10px
      position: absolute
    .nk-pro-3
      top: 372px
      right: 10px
      position: absolute
  &.nk-product-maylanh
    .item
      .nk-product-img
        height: 115px
        line-height: 115px
        img
          vertical-align: bottom
    .nk-pro-1
      top: 132px
      right: 10px
      position: absolute
    .nk-pro-2
      top: 235px
      right: 10px
      position: absolute
    .nk-pro-3
      top: 262px
      right: 10px
      position: absolute
  &.nk-product-giadung
    .item
      .nk-product-img
        height: 190px
        line-height: 190px
        img
          vertical-align: middle
    .nk-pro-1
      top: 207px
      right: 10px
      position: absolute
    .nk-pro-2
      top: 310px
      right: 10px
      position: absolute
    .nk-pro-3
      top: 337px
      right: 10px
      position: absolute
.title h2.head2
  text-align: center
  text-transform: uppercase
  margin: 20px auto
\ No newline at end of file
