.countdown
  text-align: center
  padding-bottom: 48px

.cd-title
  color: #4cb4dc
  padding: 20px
  font-style: italic
  font-size: 2em

.cd-clock
  padding: 20px 0

.cl-part
  display: inline-block

.cp-title
  display: block
  font-size: 2em

.cp-number
  padding: 4px

.digit
  font-size: 5em
  padding: 4px
  width: 71px
  height: 116px
  color: transparent
  display: inline-block

.digit-0
  background: url(https://www.nguyenkim.com/images/companies/_1/html/2017/T11/countdown/0.jpg) no-repeat

.digit-1
  background: url(https://www.nguyenkim.com/images/companies/_1/html/2017/T11/countdown/1.jpg) no-repeat

.digit-2
  background: url(https://www.nguyenkim.com/images/companies/_1/html/2017/T11/countdown/2.jpg) no-repeat

.digit-3
  background: url(https://www.nguyenkim.com/images/companies/_1/html/2017/T11/countdown/3.jpg) no-repeat

.digit-4
  background: url(https://www.nguyenkim.com/images/companies/_1/html/2017/T11/countdown/4.jpg) no-repeat

.digit-5
  background: url(https://www.nguyenkim.com/images/companies/_1/html/2017/T11/countdown/5.jpg) no-repeat

.digit-6
  background: url(https://www.nguyenkim.com/images/companies/_1/html/2017/T11/countdown/6.jpg) no-repeat

.digit-7
  background: url(https://www.nguyenkim.com/images/companies/_1/html/2017/T11/countdown/7.jpg) no-repeat

.digit-8
  background: url(https://www.nguyenkim.com/images/companies/_1/html/2017/T11/countdown/8.jpg) no-repeat

.digit-9
  background: url(https://www.nguyenkim.com/images/companies/_1/html/2017/T11/countdown/9.jpg) no-repeat
.coupon
  background: #d1262e
  color: white
  padding: 12px
  display: inline-block
  border-radius: 16px
  font-size: 1.5em
  font-style: italic
  min-width: 300px
  margin: 16px
  span:last-child
    font-size: 1.5em
.side
  text-align: center
  .hotline
    font-size: 1.5em
    color: white
  .facebook
    display: inline-block

@media (min-width: 1200px)
  .side
    padding: 4px
    .hotline
      padding: 4px