.ty-ajax-loading-box
  position: fixed
  top: 50%
  right: 50%
  left: 50%
  z-index: 100001
  overflow: visible
  margin-top: -26px
  margin-left: -26px
  padding: 0
  min-height: 70px
  width: 70px
  background: url(https://cdn.nguyenkimmall.com/design/themes/responsive/media/images/nk/loading.gif?v=1) no-repeat 50% #fff
  opacity: 0.9
  border-radius: 8px
  -webkit-border-radius: 8px
  -moz-border-radius: 8px
  border: 1px solid #f1f5f6