.banner-1Col
    width: 100%
    .item
        width: 100%
        float: left
        img
            max-width: 100%
.banner-2Col
    width: 100%
    .item
        width: 50%
        float: left
        padding: 0 5px
        img
            max-width: 100%
.banner-3Col
    width: 100%
    .item
        width: 33.30%
        float: left
        padding: 0 5px
        img
            max-width: 100%